.nav{
    display: flex;
    align-items:center;
    background-color:#1AACAC;
    justify-content:space-around;
    margin:0;
    padding:10px;
    box-shadow: 0 4px 4px gray;
    position:fixed;
    z-index:999;
    width:100%;
    margin-bottom:7rem;
}

button{
    padding:10px;
    background-color:transparent;
    margin-right: 2rem;
    color:#FCFEFE
}

button:hover{
    border-bottom: 2px solid  #B0578D;
    transition : all 0.5s;
}
 

.link{
    text-decoration:none;
    color: #FCFEFE;
}

.link:hover{
    transition : all 0.5s;
}